name: Test Workflow

on:
  workflow_call:
    inputs:
        os:
            required: true
            type: string

jobs:
  test:
    strategy:
        fail-fast: false
    runs-on:
      group: databricks-protected-runner-group
      labels: ${{ inputs.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Unshallow
        run: git fetch --prune --unshallow

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.21'

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Build Rust FFI
        run: make build-rust

      - name: Build Go SDK
        run: make build-go

      - name: Check formatting
        run: make fmt

      - name: Run linter
        run: make lint

      - name: Run tests
        run: make test

      - name: Build examples
        run: make examples
